<%= form_for(comment, html: {class: ["comment-form", "collapse", hide ? "" : "in"], role: "form"}) do |f| %>
  <div class="form-group form-editor">
    <%= f.hidden_field :user_id, :value => current_user.id, class: ["form-control"] %>
    <%= f.hidden_field :article_id, :value => @article.id, class: ["form-control"] %>
    <%= render partial: "layouts/editor", locals: {form: f} %>
    <div class="actions">
      <%= submit_tag tco(:comment), class: ["btn", "btn-success"] %>
    </div>
  </div>
<% end %>
