<h2><%= tco :sign_in %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "devise-form"}) do |f| %>
  <dl>
    <dt><%= tc :email %></dt>
    <dd><%= f.email_field :email, autofocus: true, class: ["form-control"] %></dd>
    <dt><%= tc :password %></dt>
    <dd><%= f.password_field :password, autocomplete: "off", class: ["form-control"] %></dd>
  </dl>

  <% if devise_mapping.rememberable? -%>
    <div id="remember-checkbox-area">
      <label><%= f.check_box :remember_me %> <%= tc :remember_me %></label>
    </div>
  <% end -%>

  <div>
    <%= f.submit tco(:sign_in), class: ["btn", "btn-success"] %>
    <% # TODO: リリースの為の一時的な対応。後でちゃんとした方法に実装し直す必要あり。 %>
    <% unless ENV["GOOGLE_CLIENT_ID"].blank? %>
      <%- if devise_mapping.omniauthable? %>
        <h3><%= tco(:sign_in_by_other_means) %></h3>
        <ul>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <li><%= link_to tco(:sign_in_with, provider: provider.to_s.titleize), omniauth_authorize_path(resource_name, provider) %></li>
          <% end -%>
        </ul>
      <% end -%>
    <% end %>
  </div>
<% end %>

<%= render "users/shared/links" %>
