<h2><%= tco :sign_in %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "devise-form"}) do |f| %>
  <dl>
    <dt><%= tc :email %></dt>
    <dd><%= f.email_field :email, autofocus: true, class: ["form-control"] %></dd>
    <dt><%= tc :password %></dt>
    <dd><%= f.password_field :password, autocomplete: "off", class: ["form-control"] %></dd>
  </dl>

  <% if devise_mapping.rememberable? -%>
    <div id="remember-checkbox-area">
      <label><%= f.check_box :remember_me %> <%= tc :remember_me %></label>
    </div>
  <% end -%>

  <div><%= f.submit tco(:sign_in), class: ["btn btn-success"] %></div>
<% end %>

<%= render "users/shared/links" %>
