<h3><strong><%= tc :current_article, article_title: @article.title %></strong></h3>

<table class="table update-history-table">
  <colgroup span="1"></colgroup>
  <colgroup span="2"></colgroup>
  <tbody>
    <% @update_histories.each do |update_history| %>
      <tr>
        <td><%= link_to update_history.new_title, update_history %></td>
        <td class="article-tags-column">
          <div>
            <% update_history.new_tags.split(",").each do |tag| %>
              <%= content_tag :span, tag, class: ["label", "label-default"] %>
            <% end %>
          </div>
        </td>
        <td class="dropdown"><%= render partial: "users/info_dropdown", locals: { user: update_history.user } %></td>
        <td><%= update_history.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to tco(:back), article_path(params[:article_id]) %>
</p>
