<% history = @update_history %>

<h3 class="lead"><strong><%= tc :current_article, article_title: @article.title %></strong></h3>
<div id="history-area" class="well">
  <dl>
    <dt><%= t "activerecord.attributes.article.title" %></dt>
    <dd><%= diff(history.old_title, history.new_title) %></dd>
  </dl>
  <dl>
    <dt><%= t "activerecord.attributes.article.tags" %></dt>
    <dd><%= diff(history.old_tags, history.new_tags) %></dd>
  </dl>
  <dl>
    <dt><%= t "activerecord.attributes.article.body" %></dt>
    <dd><%= diff(history.old_body, history.new_body) %></dd>
  </dl>
</div>

<p>
  <%= link_to tco(:back), article_update_histories_path(@update_history.article_id) %>
</p>
