<%= paginate articles %>

<table id="articles-table" class="list-table table article-table">
  <colgroup span="1"></colgroup>
  <colgroup span="4"></colgroup>
  
  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td class="article-title-column">
          <p><%= link_to article.title, article, title: article.title %></p>
        </td>
        <td class="article-tags-column">
          <div>
            <% article.tags.each do |tag| %>
                <%= link_to articles_by_tag_path(tag.name), class: :tag do %>
                  <span class="label label-default"><%= tag.name %></span>
                <% end %>
            <% end %>
          </div>
        </td>
        <td><%= stock_and_comment_count(article) %></td>
        <td><%= user_name_with_icon(article.user) %></td>
        <td><%= article.updated_at.to_s(:date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate articles %>
