<h3>
  <strong><%= yield :list_title %></strong>
</h3>

<%= yield :list_title_addition %>

<% if articles.length == 0 %>
  <p class="media">
    <div class="media-body"><%= yield :introduction %></div>
  </p>
<% end %>

<%= paginate articles %>

<table class="list-table table article-table">
  <colgroup span="1"></colgroup>
  <colgroup span="4"></colgroup>
  
  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td class="article-title-column">
          <p><%= link_to article.title, article, title: article.title %></p>
        </td>
        <td class="article-tags-column">
          <% article.tags.each do |tag| %>
            <%= link_to tagged_articles_path(tag.name), class: :tag do %>
              <span class="label label-default"><%= tag.name %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= render partial: "articles/stock_count", locals: {article: article} %>
          <%= render partial: "articles/comment_count", locals: {article: article} %>
        </td>
        <td><div class="dropdown"><%= render partial: "users/info_dropdown", locals: {user: article.user} %></div></td>
        <td><%= article.updated_at.to_s(:date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate articles %>

<%= yield :back_link %>
