<%= form_for(@article, html: {id: "article-form", role: "form"}) do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header.#{@article.errors.count == 1 ? 'one' : 'other'}", model: Article.model_name.human) %></h2>

      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: ["form-control"] %>
  </div>

  <div id="tag-input-container" class="form-group">
    <%= f.label :tag_list %><br>
    <% tag_list = @article.tag_list.presence || [""] %>
    <% tag_list.each do |tag| %>
      <div class="tag-group">
        <input class="typeahead js-tag-names form-control" name="article[tag_list][]" type="text" placeholder="タグ" value="<%=tag %>"><button class="btn btn-xs js-remove-tag-btn" type="button">&times;</button>
      </div>
    <% end %>
    <button id="js-add-tag-btn" class="btn btn-xs btn-primary" type="button">+</button>
  </div>

  <div class="form-group">
    <%= render partial: "layouts/editor", locals: {form: f} %>
  </div>
  <div class="preview-area markdown"></div>
  <div class="actions">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :lock_version %>
    <%= f.submit class: ["btn", "btn-success"] %>
  </div>
<% end %>
