<%= form_for @article, html: {id: "article-form", class: ["article-form"], role: "form"} do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header.#{@article.errors.count == 1 ? 'one' : 'other'}", model: Article.model_name.human) %></h2>

      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: ["form-control"] %>
  </div>
  <div class="form-group">
    <%= f.label :tags %><%= tc :tags_hint %><br>
    <%= f.text_field :tags, :value => get_tags, :placeholder => tc("tags_example"), class: ["form-control"] %>
  </div>
  <div class="form-group">
    <%= render partial: "layouts/editor", locals: {form: f} %>
  </div>
  <div class="actions">
    <%= f.submit class: ["btn", "btn-success"] %>
  </div>
<% end %>
