<div class="panel">

  <div class="panel-heading clearfix">
    <% if @article.user == current_user %>
      <div class="pull-right clearfix">
        <%= link_to tco('edit'), edit_article_path(@article) %>
        |
        <%= link_to tco('destroy'), @article, method: :delete, data: { confirm: tco(:are_you_sure)} %>
      </div>
    <% end %>
  
    <h1><%= @article.title %></h1>
    <hr />
  </div>

  
  <div class="panel-body">
    <div class="pull-right text-right">
      <div>
        <span><%= tco :created_at %>: <%= @article.created_at %></span>
        <% if @article.update_histories.size > 0 %>
          <span>|</span>
          <span><%= tco :updated_at %>: <%= @article.updated_at %></span>
          <span>-</span>
          <span><%= link_to "#{tc(:update_histories)}(#{@article.update_histories.size})", article_update_histories_path(@article) %></span>
        <% end %>
      </div>
      <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tagged_articles_path(tag.name), class: ["label", "label-default"] %>
      <% end %>
      <span class="dropdown">
        <%= render partial: "users/info_dropdown", locals: {user: @article.user} %>
      </span>
      <%= render partial: "articles/stock_count", locals: {article: @article} %>
      <%= render partial: "articles/comment_count", locals: {article: @article} %>
      <%= render partial: "articles/stock_users", locals: {article: @article} %>
      <p>
        <%= render partial: "articles/stock_text", locals: {article: @article} %>
      </p>
    </div>
  </div>

  <div class="panel-body markdown">
    <%= @article.body_html.html_safe %>
  </div>
</div>

<p class="lead"><%= tc :comments_title %></p>

<ul class="list-group">
  <% if @article.comments.blank? %>
    <li class="list-group-item">Nothing...</li>
  <% else %>
    <% @article.comments.each do |comment| %>
      <li class="list-group-item">
        <div class="list-group-item-heading">
          <div class="dropdown"><%= render partial: "users/info_dropdown", locals: {user: comment.user} %></div>
          <span class="comment-info pull-right">
            <%= comment.updated_at %>
            <% if comment.user == current_user %> 
              |
              <%= content_tag :a, tco('edit'), class: "comment-edit-link", "data-toggle" => "collapse", "data-target" => "[action='#{comment_path(comment)}']" %>
              |
              <%= link_to tco('destroy'), comment, method: :delete, data: { confirm: tco(:are_you_sure)} %>
            <% end %>
          </span>
        </div>
        <div class="list-group-body markdown">
          <%= comment.body_html.html_safe %>
        </div>
        <% if comment.user == current_user %> 
          <%= render 'comments/form', hide: true, comment: comment %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<p class="lead"><%= tc :comment_form_title %></p>
<%= render 'comments/form', hide: false, comment: Comment.new %>

<p>
  <%= link_to tco(:back), @pre_accessable_url %>
</p>
