<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <%= content_tag :span, class: ["label", @notifications.present?? "label-info" : ""] do %>
    <%= @notifications.length %>
  <% end %>
</a>
<ul class="dropdown-menu well" role="menu">
  <% notifications.each do |notification| %>
    <li role="presentation">
      <div class="media">
        <div class="pull-left">
          <%= gravatar(notification.user, 40, class: ["media-object"]) %>
        </div>
        <div class="media-body">
          <p>
            <%= link_to article_path(notification.article) do %>
              <%= notification_message(notification) %>
            <% end %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
