<% icon_only ||= false %>
<%= gravatar(user, 20, class: ["header-user-icon", "dropdown-toggle"], "data-toggle" => "dropdown") %>
<% if not icon_only %>
  <%= link_to user.name, "#", class: ["header-user-name", "dropdown-toggle"], "data-toggle" => "dropdown" %>
<% end %>
<ul class="dropdown-menu user-info" role="menu">
  <li role="presentation">
    <div class="media">
      <div class="pull-left">
        <%= gravatar(user, 80, class: ["media-object"]) %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= user.name %></h4>
        <br />
        <p>
          <strong><%= user.contribution %></strong>
          <%= tco :contribution %>
        </p>
      </div>
    </div>
  </li>
  <li class="divider"></li>
  <li role="presentation">
    <h4><%= tco :recent_article_list_title %></h4>
    <ol>
      <% user.recent_articles(5).each do |article| %>
        <li><u><%= link_to article.title, article_path(article) %></u></li>
      <% end %>
    </ol>
  </li>
</ul>
