<% if current_user.follow?(tag) %>
  <%= link_to unfollow_tag_path(tag), method: :post, class: "follow-link", remote: true do %>
    <%= image_tag "stocked.png" %><span><%= t "tags.unfollow" %></span>
  <% end %>
<% else %>
  <%= link_to follow_tag_path(tag), method: :post, class: "follow-link", remote: true do %>
    <%= image_tag "unstocked.png" %><span><%= t "tags.follow" %></span>
  <% end %>
<% end %>
