<% action = params[:action] %>
<% is_index_action = action == "index" %>
<h1><%= tco :tag_list_title %></h1>

<%= paginate @tags %>

<table class="tag-table list-table table">
  <colgroup span="1"/>
  <colgroup span="2"/>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tagged_articles_path(tag.name), title: tag.name %></td>
        <td class="counts-column text-right"><%= tc(:tagging_size, size: tag.taggings.size) %></td>
        <td class="follow-column text-right">
          <%= render partial: "tags/follow", locals: {tag: tag.name} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tags %>

<% unless is_index_action %>
  <p>
    <%= link_to tc("to_list"), @tags_path %>
  </p>
<% end %>
