<% action = params[:action] %>
<% is_index_action = action == "index" %>
<h1><%= tco :tag_list_title %></h1>

<%= paginate @tags %>

<table class="tag-table list-table table">
  <colgroup span="1"/>
  <colgroup span="2"/>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, articles_by_tag_path(tag.name), title: tag.name %></td>
        <td class="counts-column text-right"><%= tag.taggings_count %></td>
        <td class="follow-column text-right">
          <% if @following_tags.include?(tag.name) %>
            <%= link_to tc(:unfollow), following_tag_path(tag: tag.name), method: :delete %>
          <% else %>
            <%= link_to tc(:follow), following_tags_path(tag: tag.name), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tags %>

<% unless is_index_action %>
  <p>
    <%= link_to tc("to_list"), @tags_path %>
  </p>
<% end %>
