<h1><%= tc :list_title %></h1>

<table>
  <thead>
    <tr>
      <th><%= tc :name %></th>
      <th><%= tc :aliases %></th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.name %></td>
        <td><%= keyword.description.body %></td>
        <td><%= link_to 'Show', keyword %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to tco(:new), new_keyword_path %>
