<!DOCTYPE html>
<html>
<head>
  <% if params[:controller] == "articles" && [:show, :edit].include?(params[:action].to_sym)   %>
    <title><%= @article.title %> - Lodge</title>
  <% else %>
    <title>Lodge</title>
  <% end %>
  <%= favicon_link_tag %>
  <%= javascript_tag "var ROOT_PATH = '#{root_path}';" %>
  <script type="text/javascript" charset="utf-8">var ROOT_PATH = '<%= root_path %>';</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'notification', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if (lt IE 9) & (!IEMobile)]>
    <%= stylesheet_link_tag 'ignore/ie', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'externals/html5shiv', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'externals/renspond.min', 'data-turbolinks-track' => true %>
  <![endif]-->
</head>
<body>

<div class="container">
  <div id="header-area" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <div id="application-title" class="navbar-header"><%= link_to "Lodge", root_path, class: ["nav", "navbar-brand"] %></div>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <ul id="current-user-info" class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= gravatar(current_user) %>
                    <%= current_user.name %>
                    <i class="caret"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                      <div class="media">
                        <div class="pull-left">
                          <%= gravatar(current_user, 80, class: ["media-object"]) %>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><%= current_user.name %></h4>
                          <br />
                          <p>
                            <strong><%= current_user.contribution %></strong>
                            <%= tco :contribution %>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation">
                      <h4><%= tco :recent_article_list_title %></h4>
                      <ol>
                        <% current_user.recent_articles(5).each do |article| %>
                          <li><%= link_to article.title, article_path(id: article.id) %></li>
                        <% end %>
                      </ol>
                    </li>
                  </ul>
                </li>
                <li>
                  <a id="num-of-notification">
                    <%= content_tag :span, class: ["badge", @notifications.present?? "alert-info" : ""] do %>
                      <%= @notifications.length %>
                    <% end %>
                  </a>
                </li>
                <li>
                  <%= link_to t("users.edit_profile"), edit_user_registration_path, :class => 'navbar-link' %>
                </li>
                <li><span class="navbar-text">|</span></li>
                <li>
                  <%= link_to t("users.logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                </li>
              <% else %>
                <li><%= link_to t("users.sign_up"), new_user_registration_path, :class => 'navbar-link'  %></li>
                <li><span class="navbar-text">|</span></li>
                <li><%= link_to t("users.login"), new_user_session_path, :class => 'navbar-link'  %></li>
              <% end %>
            </ul>
          </div>
          <div class="row">
            <p class="navbar-text navbar-right">
              <% if user_signed_in? %>
                <strong class="num-of-contribution"><%= current_user.contribution %></strong> <%= tco :contribution %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="main-container" class="container-fluid">
    <% if @notifications.present? %>
      <div class="alert alert-info">
        <ul id="notifications-area">
          <% @notifications.each do |notification| %>
            <%= notification_message_line(notification) %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="notice-area">
      <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <div>
      <article id="contents-area" class="col-xs-8">
        <% if current_user %>
          <%= form_tag articles_search_path, method: :get, id: "article-search-area", role: "search" do %>
            <div class="input-group col-xs-5">
              <%= text_field_tag "query", params[:query], class: ["form-control"], placeholder: tco("article_search") %> 
              <span class="input-group-btn">
                <%= button_tag "", type: "submit", class: ["btn", "btn-default", "glyphicon", "glyphicon-search"] %>
              </span>
            </div>
          <% end %>
        <% end %>
  
        <%= yield %>
      </article>
      
      <% if current_user %>
        <nav id="navigation-area" class="col-xs-4">
          <% # Stocked article list %>
          <h2><%= tco("menu") %></h2>
          <ul id="menu">
            <li><%= link_to tco(:feed_article_list_title), articles_feed_path, data: {active: true}%></li>
            <li><%= link_to tco(:recent_article_list_title), articles_path %></li>
            <li><%= link_to tco("stocked_article_list_title"), articles_by_stocks_path %></li> 
            <li><%= link_to tco("user_article_list_title"), articles_by_user_path(current_user.id) %></li> 
            <li><%= link_to tco("tag_list_title"), tags_path %></li>
          </ul>
  
          <% # Pupular article list %>
          <h2><%= tco("popular_article_list_title") %></h2>
          <ol id="popular-article-list">
            <% @popular_articles.each do |article| %>
              <li>
                <%= link_to "#{article.title}", article_path(article) %>
                <%= stock_and_count_link(article) %>
              </li>
            <% end %>
          </ol>
  
          <% # Stocked article list %>
          <h2><%= tco("stocked_article_list_title") %></h2>
          <ol id="stocked-article-list">
            <% @stocked_articles.each do |article| %>
              <li><%= link_to article.title, article_path(article) %></li>
            <% end %>
          </ol>
          <% unless @stocked_articles.empty? %>
          <div class="more-display-area">
            <%= link_to tco("more_display"), articles_by_stocks_path %> 
          </div>
          <% end %>
  
          <% # Your article list %>
          <h2><%= tco("user_article_list_title") %></h2>
          <ol id="user-article-list">
            <% @user_articles.each do |article| %>
              <li><%= link_to "#{article.title} #{}", article %></li>
            <% end %>
          </ol>
          <% unless @user_articles.empty? %>
            <div class="more-display-area">
              <%= link_to tco("more_display"), articles_by_user_path(current_user.id) %> 
            </div>
          <% end %>
  
        </nav>
  
      <% end %>
    </div>
  </div>
</div>

</body>
</html>
